html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
  background-color: #f3eeee;
  align-content: center;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
  justify-content: center;
  padding: 20px;
}

img {
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 50%;
}

input {
  border: 0;
  padding: 20px;
  background-color: #cacac6;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 8px;
  font-family: 'Prompt', sans-serif;
  margin-bottom: 5px;
}

button {
  background-color: rgb(42, 42, 53);
  color: #fff;
  font-family: 'Prompt', sans-serif;
  border: 0;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 8px;
  font-family: 'Prompt', sans-serif;
  cursor: pointer;
}

button:hover {
    background-color: rgb(246, 207, 64);
    font-size: 1.65rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
  background-color: #fffdf8;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  font-size: 1.3rem;
  cursor: pointer;

}

ul li:hover {
    background-color: #f55555;
}
/* 
.modal {
    position: fixed;
    background-color: #f55555;
    height: auto;
    z-index: 1;
    left: 0;
    top: 0;

} */
